name: Deploy Flask App

on:
  push:
    branches:
      - main  # триггер при пуше в main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/Site

            echo "Stopping old containers..."
            docker compose down

            echo "Pulling latest code..."
            git pull origin main

            echo "Building new images..."
            docker compose build

            echo "Starting containers..."
            docker compose up -d

            echo "Deployment finished. Showing running containers..."
            docker ps
